$couleur:#41396e;
$couleur2:#363365;
$couleur3:#303060;

#backheader{
    background-image: radial-gradient($couleur,$couleur2,$couleur3);
    width: 100%;
    height: 114px;
    
   
    

}
.form-control.mr-sm-2{
    width: 500px !important;
    opacity: 0.7 !important;
}
.navbar{
    margin-left: 31% !important;
    top: 20% !important;
}
#iconealarme{
    width: 2%;
    height:auto;
    margin-right: 5%;
    opacity: 0.6;
    float: right;
}

#iconeplus{
    width: 2%;
    height:auto;
    margin-right: 2%;
   opacity: 0.7;
   float: right;
}